body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

u ,p{
    font-size: larger;
    background-color: #fff;
    border: 2px solid #000000;
    padding: 4px;
    text-decoration: none;
    border-radius: 8px;
    margin-bottom: 2rem;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: 1em auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

th, td {
    border: 2px solid #888;
    padding: 0.6em;
    text-align: center;
}

th {
    background-color: #333;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

label {
    margin: 10px 0;
    text-align: center;
}

select, input[type="text"], input[type="date"], input[type="radio"] {
    width: 100%;
    padding: 0.6em;
    border: 2px solid #888;
    border-radius: 4px;
}

input[type="radio"] {
    margin: 0 5px 0 0;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 3rem;
}
